
@{
    ViewData["Title"] = "Students";   
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
          body {
              font-family: "Lato", sans-serif;
          }

          .sidenav {
              /*width: 130px;
        height: 210px;
        position: fixed;
        z-index: 1;
        top: 80px;
        left: 10px;*/
              width: 130px;
              height: 210px;
              position: fixed;
              left: 0;
              right: 0;
              /*margin-left: auto;
        margin-right: auto;*/
              z-index: 1;
              top: 50px;
              background: #eee;
              overflow-x: hidden;
              padding: 8px 0;
          }

              .sidenav a {
                  padding: 6px 8px 6px 16px;
                  text-decoration: none;
                  font-size: 18px;
                  color: #2196F3;
                  display: block;
              }

                  .sidenav a:hover {
                      color: #064579;
                  }

          .main {
              margin-left: 140px;
              min-height: 200px;
              padding: 0px 10px;
          }
    </style>
</head>
<body>

    <div class="sidenav">
        <a href='/Professor/Class?subject=@ViewData["subject"]&num=@ViewData["num"]&season=@ViewData["season"]&year=@ViewData["year"]'>Assignments</a>
        <a href='/Professor/Students?subject=@ViewData["subject"]&num=@ViewData["num"]&season=@ViewData["season"]&year=@ViewData["year"]'>Students</a>
        <a href='/Professor/Categories?subject=@ViewData["subject"]&num=@ViewData["num"]&season=@ViewData["season"]&year=@ViewData["year"]'>Assignment Categories</a>
    </div>


    <div class="main">
        <h4 id="classname">Class</h4>

        <div id="studentsDiv" class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <table id="tblStudents" class="table table-bordered table-striped table-responsive table-hover">
                        <thead>
                            <tr>
                                <th align="left" class="productth">Name</th>
                                <th align="left" class="productth">uID</th>
                                <th align="left" class="productth">Standing</th>
                                <th align="left" class="productth">Grade</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section Scripts
  {
    <script type="text/javascript">

    LoadData();

    function PopulateTable(tbl, offerings) {
      var newBody = document.createElement("tbody");



      $.each(offerings, function (i, item) {
        var tr = document.createElement("tr");

        var td = document.createElement("td");
        td.appendChild(document.createTextNode(item.lname + ", " + item.fname));
        tr.appendChild(td);

        var td = document.createElement("td");
        td.appendChild(document.createTextNode(item.uid));
        tr.appendChild(td);

        var td = document.createElement("td");
        var bYear = Number(item.dob.substring(0, 4));
        var cYear = new Date().getFullYear();
        var age = cYear - bYear;
        var standing = "freshman";
        if (age == 19) { standing = "sohpomore"; }
        if (age == 20) { standing = "junior"; }
        if (age > 20) { standing = "senior";}
        td.appendChild(document.createTextNode(standing));
        tr.appendChild(td);

        var td = document.createElement("td");
        td.appendChild(document.createTextNode(item.grade));
        tr.appendChild(td);

        newBody.appendChild(tr);
      });

      tbl.appendChild(newBody);

    }

    function LoadData() {

      classname.innerText = '@ViewData["subject"] @ViewData["num"] @ViewData["season"] @ViewData["year"]';

      var tbl = document.getElementById("tblStudents");

      $.ajax({
        type: 'POST',
        url: '@Url.Action("GetStudentsInClass", "Professor")',
        dataType: 'json',
        data: {
          subject: '@ViewData["subject"]',
          num: Number('@ViewData["num"]'),
          season: '@ViewData["season"]',
          year: Number('@ViewData["year"]')},
        success: function (data, status) {
          //alert(JSON.stringify(data));
          PopulateTable(tbl, data);
        },
          error: function (xhr, ajaxOptions, thrownError) {
          alert(xhr.responseText);
        }
        });


    }

    </script>

}


