
@{
    ViewData["Title"] = "Department";
}

<h4 id="classname">Courses in @ViewData["subject"]</h4>

<div id="departmentDiv" class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <table id="tblCourses" class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th align="left" class="productth">Number</th>
                        <th align="left" class="productth">Name</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">New Course</h3>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-5">
                <label>Course Name</label>
                <input type="text" name="CourseName" id="CourseName" class="form-control" placeholder="Enter course name" required="" />
            </div>
            <div class="form-group col-md-5">
                <label>Course Number</label>
                <input type="text" name="CourseNumber" id="CourseNumber" class="form-control" placeholder="Enter course number" required="" />
            </div>

            <div class="form-group col-md-1">
                <div style="float: right; display:inline-block;">
                    <input class="btn btn-primary" name="submitButton" id="btnSave" value="Add" type="button" onclick="AddCourse()">
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
  {
    <script type="text/javascript">

    LoadData();

    function AddCourse() {

      var corName = $("#CourseName").val();
      var corNum = Number($("#CourseNumber").val());

      $.ajax({
        type: 'POST',
        url: '@Url.Action("CreateCourse", "Administrator")',
        dataType: 'json',
        data: {
          subject: '@ViewData["subject"]',
          number: corNum,
          name: corName},
        success: function (data, status) {
          //alert(JSON.stringify(data));
          if (!data.success) {
            alert("Unable to add course");
          }
          window.location.reload();
        },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
        });

    }

    function PopulateTable(tbl, offerings) {
      var newBody = document.createElement("tbody");

      offerings.sort(function (a, b) {
        return a.number - b.number;
      });

      $.each(offerings, function (i, item) {
        var tr = document.createElement("tr");

        var td = document.createElement("td");
        td.appendChild(document.createTextNode(item.number));
        tr.appendChild(td);

        var td = document.createElement("td");
        var a = document.createElement("a");
        a.setAttribute("href", "/Administrator/Course/?subject=" + '@ViewData["subject"]' + "&num=" + item.number);
        a.appendChild(document.createTextNode(item.name));
        td.appendChild(a);
        tr.appendChild(td);

        newBody.appendChild(tr);
      });

      tbl.appendChild(newBody);

    }

    function LoadData() {

      var tbl = document.getElementById("tblCourses");
      var body = tbl.getElementsByTagName("tbody")[0];
      tbl.removeChild(body);

      $.ajax({
        type: 'POST',
        url: '@Url.Action("GetCourses", "Administrator")',
        dataType: 'json',
        data: {
          subject: '@ViewData["subject"]'
        },
          success: function (data, status) {
            //alert(JSON.stringify(data));
            PopulateTable(tbl, data);
          },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
        });
    }

    </script>

}


